<!--
Name            :   Bishnu Khanal
Student Number  :   300924228
Designation     :   Assignment 2 Mean Portfolio site
Site/Page       :   contact.component.html
-->

<app-base-page></app-base-page>

<div class="container">
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header alert-success">Secure</h5>
        <div class="card-body">
          <a routerLink="todo-list" class="btn btn-primary"
            ><i class="fas fa-users fa-lg"> </i>To Do List
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
